@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This demo uses MVC and Identity<br /> <a href="https://docs.microsoft.com/aspnet/core">Building Web apps with ASP.NET Core</a>.<br /> Read more about identity/security <a href="https://docs.microsoft.com/en-us/aspnet/core/security/authorization/roles?view=aspnetcore-5.0" target="_blank">here.</a></p>
</div>
